*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.game-container{
    text-align: center;
    background-color: #F0FFF0;
    padding: 10px;
}
.heading{
   color: #F0FFF0;
   font: 700;
   font-family: 'Times New Roman', Times, serif;
   margin: 5px;
   font-style: normal;

}
.phrase{
    color: #FFA500;
    font-family: roboto;
    font-style: italic;
    margin: 5px;
    letter-spacing: 1px;  
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}
.header{
    background-color: #003300;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.score-board{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 30px;
}
.player-name, .comp-name, .text, .player-guess, .comp-guess{
    margin: 10px;
    color: #003300;
    font-size: larger;
    font-style: italic;
    font-weight: 800;
}
.comp-score, .player-score{
    color: #FFA500;
    font-weight: 900;
    font-size: larger;
}
.text-input{
    padding: 10px;
    background-color:  #FFFBF5;
    border-radius: 5px;
    border-color: #003300;
    height: 40px;
    width: 300px;
}
.guess-btn, .again-btn{
   padding: 5px;
   height: 40px;
  width: 150px;
  border-radius: 10px;
  margin: 5px;
  border: none;
  background-color: #00FF00;
  color: #003300;
  margin: 10px;
  font-weight: 700;
}
.guess-board{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 10px;
}
.final{
    margin: 10px;
    font-weight: 600;
    font-size: x-large;
    margin: 20px;
}
.player-number, .comp-number{
    color: #003300;
    font-size: larger;
    font-weight: 600;
    
}
.player-guess, .comp-guess{
    color: #FFA500;
}
.final-say{
    margin: 10px;
    color: #003300;
    font-size: larger;
    font-style: italic;
    font-weight: 800;
}
.error-final-say{
    margin: 10px;
    color: red;
    font-size: larger;
    font-style: italic;
    font-weight: 800;
}
.info-btn{
    padding: 5px;
   height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: 5px;
  border: none;
 background-color:#00FF00;
 color: #F0FFF0;
  margin: 5px;
  font-weight: 700;
}
.count{
    color: #FFA500;
    font-style: normal;
}
